// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-style: Open Sans;
}

li {
  list-style-type: none;
}

li h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 35px 0 5px 0;
}

p {
  margin-top: 0;
}

div h1 {
  color: #3478D0;
}


.header {
  display: flex;
  justify-content: space-between;
  background-color: #F8F8F8;
  border-bottom: 1px solid #E1E1E1E1;
  color: #666666;
  margin: 0;
}

.header a:hover {
  color: #333333;
}

.wrapper {
  width: 100%;
}

.content {
  width: 700px;
  margin: auto;
  .a {
    color: #3478D0;
  }
}

.toolbar {
  margin-bottom: 7px;

}

.form-input {
  display: block !important;
  padding: 5px !important;
  width: 700px;
}

.cell {
  border-radius: 2px;
}

.content-txt {
  text-align : justify;
}

#logo{
  font-size: 18px;
  padding: 20px;
}

#create {
  font-size: 14px;
  padding: 20px;
}

